In [1]:
#get important libirary
import numpy as np
import pandas as pd

In [4]:
#reading data
df_raw=pd.read_csv('/content/Online_Retail.csv',encoding='latin1')
df_raw.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6.0,12/1/10 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6.0,12/1/10 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8.0,12/1/10 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6.0,12/1/10 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6.0,12/1/10 8:26,3.39,17850.0,United Kingdom

In [5]:
df_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38668 entries, 0 to 38667
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   InvoiceNo    38668 non-null  object
 1   StockCode    38668 non-null  object
 2   Description  38546 non-null  object
 3   Quantity     38667 non-null  float64
 4   InvoiceDate  38667 non-null  object
 5   UnitPrice    38667 non-null  float64
 6   CustomerID   25432 non-null  float64
 7   Country      38667 non-null  object
dtypes: float64(3), object(5)
memory usage: 2.4+ MB

In [6]:
# @title Default title text
df_raw['InvoiceDate']=pd.to_datetime(df_raw['InvoiceDate'],infer_datetime_format=True)

df_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38668 entries, 0 to 38667
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   InvoiceNo    38668 non-null  object
 1   StockCode    38668 non-null  object
 2   Description  38546 non-null  object
 3   Quantity     38667 non-null  float64
 4   InvoiceDate  38667 non-null  datetime64[ns]
 5   UnitPrice    38667 non-null  float64
 6   CustomerID   25432 non-null  float64
 7   Country      38667 non-null  object
dtypes: datetime64[ns](1), float64(3), object(4)
memory usage: 2.4+ MB

In [7]:
df_raw.describe()

           Quantity     UnitPrice    CustomerID
count  38667.000000  38667.000000  25432.000000
mean       8.112551      6.148445  15538.872012
std       61.017506    146.074320   1731.009702
min    -9360.000000      0.000000  12347.000000
25%        1.000000      1.280000  14214.500000
50%        2.000000      2.510000  15570.000000
75%        7.000000      4.250000  17126.000000
max     2880.000000  13541.330000  18269.000000

In [8]:
df_raw.shape

(38668, 8)

In [7]:
df_raw.isna().sum()

InvoiceNo          0
StockCode          0
Description      241
Quantity           0
InvoiceDate        0
UnitPrice          0
CustomerID     28868
Country            1
dtype: int64

In [9]:
df_clean=df_raw.dropna(axis=0)
df_clean.shape

(25432, 8)

In [10]:
#2)Create a Dictionary with the 10 countries that have the most 'Quantity' ordered except UK
tot_quantity=df_clean.groupby(['Country']).sum()['Quantity'].sort_values(ascending=False)
tot_quantity_except_uk=tot_quantity.drop(index='United Kingdom')
tot_quantity_except_uk

<ipython-input-10-c13914f938fe>:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  tot_quantity=df_clean.groupby(['Country']).sum()['Quantity'].sort_values(ascending=False)

Country
Germany            5620.0
EIRE               4401.0
France             4260.0
Japan              4093.0
Sweden             3714.0
Norway             3582.0
Finland            1254.0
Portugal            945.0
Cyprus              917.0
Spain               867.0
Belgium             813.0
Switzerland         714.0
Lithuania           652.0
Australia           454.0
Denmark             454.0
Iceland             319.0
Italy               162.0
Netherlands         143.0
Poland              140.0
Channel Islands      80.0
Austria               3.0
Israel              -56.0
Name: Quantity, dtype: float64

In [11]:
my_dict=dict(tot_quantity_except_uk[0:10])
my_dict

{'Germany': 5620.0,
 'EIRE': 4401.0,
 'France': 4260.0,
 'Japan': 4093.0,
 'Sweden': 3714.0,
 'Norway': 3582.0,
 'Finland': 1254.0,
 'Portugal': 945.0,
 'Cyprus': 917.0,
 'Spain': 867.0}

In [12]:
df_clean['tot_sale']=df_clean.Quantity*df_clean.UnitPrice

<ipython-input-12-ba0f3cafdc94>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean['tot_sale']=df_clean.Quantity*df_clean.UnitPrice

In [16]:
#Get data where quantity of sale and total sale price is greater than 0.
df_clean1=df_clean[(df_clean['tot_sale']>0) & (df_clean['Quantity']>0)]

In [17]:
df_clean1.shape

(24828, 9)

In [23]:
total_sale_df=df_clean1[['tot_sale','InvoiceDate']].set_index('InvoiceDate')

daily_sales = total_sale_df.resample('D').sum()

In [24]:
#total sales between twoi date
daily_sales

             tot_sale
InvoiceDate
2010-12-01   46376.49
2010-12-02   47316.53
2010-12-03   23921.71
2010-12-04       0.00
2010-12-05   31771.60
2010-12-06   31215.64
2010-12-07   53795.31
2010-12-08   39248.82
2010-12-09   38231.90
2010-12-10   33650.28
2010-12-11       0.00
2010-12-12   17305.77
2010-12-13   27642.68
2010-12-14   29322.30
2010-12-15   30311.72
2010-12-16   49030.08
2010-12-17   20046.56
2010-12-18       0.00
2010-12-19    7417.39
2010-12-20   12170.05

In [15]:
df_clean1.groupby(['InvoiceDate']).sum()['tot_sale']

<ipython-input-15-8cdd9f391425>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_clean1.groupby(['InvoiceDate']).sum()['tot_sale']

InvoiceDate
2010-12-01 08:26:00     139.12
2010-12-01 08:28:00      22.20
2010-12-01 08:34:00     348.78
2010-12-01 08:35:00      17.85
2010-12-01 08:45:00     855.86
                        ...
2010-12-20 13:11:00     138.85
2010-12-20 13:21:00     832.08
2010-12-20 13:24:00     237.60
2010-12-20 13:27:00      14.85
2010-12-20 13:31:00    1016.35
Name: tot_sale, Length: 1216, dtype: float64

In [15]:
#4) Find each Countries Total SALE to find which Countries is highest potential customer
tot_sale_by_country=df_clean1.groupby(['Country']).sum()['tot_sale'].sort_values(ascending=False)
tot_sale_by_country

<ipython-input-15-b25e113f37f3>:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  tot_sale_by_country=df_clean1.groupby(['Country']).sum()['tot_sale'].sort_values(ascending=False)

Country
United Kingdom     949362.91
Netherlands         35395.64
Germany             32466.13
EIRE                31515.84
France              27356.43
Spain               11929.82
Australia           10050.56
Japan                7705.07
Sweden               7320.62
Portugal             6495.68
Switzerland          5536.15
Norway               3787.12
Italy                3214.01
Belgium              3010.11
Greece               2661.24
Cyprus               2138.32
Singapore            2053.07
Finland              1781.82
Lebanon              1693.88
Lithuania            1661.06
Denmark              1281.50
Iceland              1187.18
Channel Islands      1039.11
Poland                861.38
Austria               277.20
Name: tot_sale, dtype: float64

In [16]:
#5) Which Customer Id has highest purchase in quantity and total and find out the country of it
sale_by_quantity=df_clean1.groupby(['CustomerID']).sum()[['Quantity','tot_sale']].sort_values(['Quantity','tot_sale'],ascending=False)
sale_by_quantity

<ipython-input-16-772d3f3ac006>:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  sale_by_quantity=df_clean1.groupby(['CustomerID']).sum()[['Quantity','tot_sale']].sort_values(['Quantity','tot_sale'],ascending=False)

            Quantity  tot_sale
CustomerID
12346.0        74215  77183.60
14646.0        27014  35068.56
17511.0        11285  15020.10
15061.0        10959  22668.91
15749.0         9014  22998.40
...              ...       ...
13145.0            1    295.00
16500.0            1    165.00
15797.0            1     15.00
15823.0            1     15.00
16554.0            1      0.85

[1307 rows x 2 columns]

In [17]:

sale_by_quantity.max()

Quantity    74215.0
tot_sale    77183.6
dtype: float64

In [18]:
#coustmer id
max_indices =sale_by_quantity.idxmax()
max_indices

Quantity    12346.0
tot_sale    12346.0
dtype: float64

In [19]:
#Country
df_clean1[df_clean1['CustomerID']==max_indices[0]].groupby(['Country']).count().index

Index(['United Kingdom'], dtype='object', name='Country')

In [20]:
#6) Which Customer Id has lowest purchase in quantity and total and find out the country of it
sale_by_quantity.min()

Quantity    1.00
tot_sale    0.85
dtype: float64

In [65]:
#coustmer id
min_indices =sale_by_quantity.idxmin()
min_indices

Quantity    13145.0
tot_sale    16554.0
dtype: float64

In [21]:
#coustmer id
min_indices =sale_by_quantity.idxmin()
min_indices

Quantity    13145.0
tot_sale    16554.0
dtype: float64

In [72]:
#table with minimum quanity sale
df_clean1[df_clean1['CustomerID']==min_indices[1]]

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,tot_sale
54379,540945,22322,BIRD DECORATION GREEN POLKADOT,1,2011-01-12 12:41:00,0.85,16554.0,United Kingdom,0.85

In [23]:
#country with minimum total sale
df_clean1[df_clean1['CustomerID']==min_indices[1]]

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,tot_sale
54379,540945,22322,BIRD DECORATION GREEN POLKADOT,1,2011-01-12 12:41:00,0.85,16554.0,United Kingdom,0.85

In [64]:
#7) Find the biggest order In Sale (Cost) which country was the order from and
#find total purchase (Cost) done by that customer ID
df_clean1[df_clean1['tot_sale']==df_clean1['tot_sale'].max()]

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,tot_sale
61619,541431,23166,MEDIUM CERAMIC TOP STORAGE JAR,74215,2011-01-18 10:01:00,1.04,12346.0,United Kingdom,77183.6

In [24]:
#8) Find how many different customers are available for each country save the count
#in dictionary also return countries with highest and lowest customer count

my_country=set(df_clean1['Country'])
countr_cust_dict={}
for i in my_country:
  no_cust=len(df_clean1[df_clean1['Country']==i]['CustomerID'].unique())
  countr_cust_dict[i]=no_cust

In [25]:
coust_lst=[(value, key) for key, value in countr_cust_dict.items()]
coust_lst

[(1, 'Norway'),
 (1, 'Poland'),
 (2, 'Cyprus'),
 (1, 'Greece'),
 (2, 'Finland'),
 (3, 'Switzerland'),
 (1, 'Lithuania'),
 (3, 'EIRE'),
 (2, 'Sweden'),
 (1, 'Austria'),
 (1, 'Denmark'),
 (5, 'Italy'),
 (5, 'Belgium'),
 (1, 'Singapore'),
 (1178, 'United Kingdom'),
 (1, 'Lebanon'),
 (1, 'Iceland'),
 (7, 'Portugal'),
 (8, 'Spain'),
 (7, 'Australia'),
 (3, 'Netherlands'),
 (32, 'France'),
 (37, 'Germany'),
 (3, 'Japan'),
 (2, 'Channel Islands')]

In [26]:
print(max(countr_cust_dict.values()),max(countr_cust_dict, key=countr_cust_dict.get))

1178 United Kingdom

In [58]:
#9) Find which stock code was ordered the most by each country
df_clean1[df_clean1['Country']=='United Kingdom'][['StockCode','Quantity']].groupby(['StockCode']).sum().max()[]

Quantity    74215
dtype: int64

In [60]:
max_stock_dict={}
for i in my_country:
  stock_name=df_clean1[df_clean1['Country']==i][['StockCode','Quantity']].groupby(['StockCode']).sum().idxmax()
  quantity_of_stock=df_clean1[df_clean1['Country']==i][['StockCode','Quantity']].groupby(['StockCode']).sum().max()
  max_stock_dict[i]=[stock_name['Quantity'],quantity_of_stock['Quantity']]

In [61]:
max_stock_dict

{'Norway': ['22197', 144],
 'Poland': ['22961', 48],
 'Cyprus': ['22335', 96],
 'Greece': ['21615', 48],
 'Finland': ['21213', 144],
 'Switzerland': ['22326', 168],
 'Lithuania': ['21915', 48],
 'EIRE': ['17084R', 1440],
 'Sweden': ['22492', 576],
 'Austria': ['22962', 12],
 'Denmark': ['22951', 120],
 'Italy': ['21786', 24],
 'Belgium': ['22489', 168],
 'Singapore': ['22197', 100],
 'United Kingdom': ['23166', 74215],
 'Lebanon': ['84929', 24],
 'Iceland': ['22492', 36],
 'Portugal': ['84991', 144],
 'Spain': ['84997C', 360],
 'Australia': ['22492', 576],
 'Netherlands': ['21212', 1920],
 'France': ['21381', 576],
 'Germany': ['POST', 199],
 'Japan': ['22328', 1488],
 'Channel Islands': ['16161P', 25]}

In [49]:
df_clean1[df_clean1['StockCode']=='23166']

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,tot_sale
61619,541431,23166,MEDIUM CERAMIC TOP STORAGE JAR,74215,2011-01-18 10:01:00,1.04,12346.0,United Kingdom,77183.6