**1) Swap two numbers using 3rd variable **

In [ ]:
a=5
b=10
c=a;
a=b
b=c
print(a,b)

10 5

**2) Swap two numbers without using 3rd variable**

In [ ]:
x=5
y=7
x,y=y,x
print(x,y)

7 5

**3) Remove duplicate elements from a list without converting to tuple**

In [ ]:
lst1=[1,4,6,7,9,10,3,6,10,4]
list(dict.fromkeys(lst1))
s=[]
for i in lst1:
  if i not in s:
    s.append(i)
print(s)

[1, 4, 6, 7, 9, 10, 3]

**3) Write a program to find greatest common divisor (GCD) or highest common factor (HCF) of given two numbers**

In [ ]:
x=54; y=24

if x>y:
  x,y=y,x
for i in range(1,x+1):
  if (x%i==0) and (y%i==0):
    fc=i

hcf=fc
print(hcf)

6

4) Write a loop to print following series
10, 20, 30,  …………………, 300 **bold text****bold text**

In [ ]:
lst2=[]
for i in range(10,310,10):
  lst2.append(i)
print(lst2)

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120, 130, 140, 150, 160, 170, 180, 190, 200, 210, 220, 230, 240, 250, 260, 270, 280, 290, 300]

**5) Write a loop to print following series
105,98,91,………………………,7 **bold text**
**

In [ ]:
lst2=[]
for i in range(105,0,-7):
  lst2.append(i)

print(lst2)

[105, 98, 91, 84, 77, 70, 63, 56, 49, 42, 35, 28, 21, 14, 7]

**6) Write a program to print number names of digits in a number like
SAMPLE INPUT 231 		SAMPLE OUTPUT TWO THREE ONE **bold text**
**

In [ ]:
num_dict={0:'Zero',1:'One',2:'Two',3:'Three',4:'Four',5:'Five',6:'Six',7:'Seven',8:'Eight',9:'Nine'}

x=input('Please Enter the number\n')
num_in_word=''
for i in x:
  num_in_word +=str(num_dict[int(i)].upper())
print(num_in_word)

Please Enter the number
8965
EIGHTNINESIXFIVE

In [ ]:
'string2'+'tw'

'string2tw'

**7) Write a program to print Fibonacci series till n terms take n =50**

In [ ]:
a=[1]

for i in range(1,50):
  if i==1:
    a.append(1)
  else:
    a.append(a[i-1]+a[i-2])

print(a)
print(len(a))

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765, 10946, 17711, 28657, 46368, 75025, 121393, 196418, 317811, 514229, 832040, 1346269, 2178309, 3524578, 5702887, 9227465, 14930352, 24157817, 39088169, 63245986, 102334155, 165580141, 267914296, 433494437, 701408733, 1134903170, 1836311903, 2971215073, 4807526976, 7778742049, 12586269025]
50

**8) Write a program to print factorial of a number**

In [ ]:
n=int(input('Please enter to find the factorial value\n'))
prod=1
for i in range(1,n+1):
  prod=prod*i

print(f'Factorial value of {n} is {prod}')

Please enter to find the factorial value
5
Factorial value of 5 is 120

**9) Write a program to check if a number is Armstrong or not**

In [ ]:
input_num=input('Please Enter the positive integer:\n')
len_num=len(input_num)
val=0
for i in input_num:
  val +=int(i)**len_num
if val==int(input_num):
  print('Your entered number: ',input_num, ' is Armstrong number')
else:
   print('Your entered number',input_num, 'is not the Armstrong number')

Please Enter the positive integer:
153
Your entered number:  153  is Armstrong number

**10) Write a program to convert binary to decimal**

In [ ]:
from functools import reduce
bin_num=input('please Enter the binary number \n')

dec_num=reduce(lambda x,y:2*x+y,map(int,bin_num))
print(dec_num)

please Enter the binary number
1000111001
569

**11) Write a program to convert decimal to binary**

In [ ]:
n=13
my_list=''
while n>0:
  rem=n%2
  rem
  n=n//2
  my_list=my_list+str(rem)

print('Binary number is:' + my_list[-1:-len(my_list)-1:-1])

Binary number is:1101

**12) Write a program to check if number is palindrome on not (Without converting to string)**

In [ ]:
x=input('Enter a positive integer number \n')

mid_point=len(x)//2
rem=len(x)%2
if rem==1 and x[0:mid_point]==x[len(x)-1:mid_point:-1]:
  print(x, ' is palindrome number')
elif rem==0 and x[0:mid_point]==x[len(x):mid_point-1:-1]:
  print(x, ' is palindrome number')
else:
  print(x, ' is not palindrome number')

Enter a positive integer number
456897
456897  is not palindrome number

 **13) Write a program to print all numbers which are divisible by 13 but not by 3 between 100 and 500**

In [ ]:
lst=[]

for i in range(100,501):
  if i%3 !=0 and i%13==0:
    lst.append(i)

print(lst)

[104, 130, 143, 169, 182, 208, 221, 247, 260, 286, 299, 325, 338, 364, 377, 403, 416, 442, 455, 481, 494]

**14) Write a Python program to convert temperatures to and from Celsius and Fahrenheit.**

In [ ]:
C=int(input('Enter Temperature in Celcus \n'))

F=C*1.8+32

print(f'{C} in Fahrenheit is {F}')

Enter Temperature in Celcus
32
32 in Fahrenheit is 89.6

15) Write a Python program that takes two digits m (row) and n (column) as input and generates a two-dimensional array. The element value in the i-th row and j-th column of the array should be i*j. else it will be 0 **bold text**

In [10]:

row=5
col=3
N=[]
for i in range(row):
  M=[]
  for j in range(col):
    M.append(int(str(i+1)+str(j+1)))
  N.append(M)

print(N)

[[11, 12, 13], [21, 22, 23], [31, 32, 33], [41, 42, 43], [51, 52, 53]]

16. Write a Python program that accepts a string and calculates the number of digits and letters.
Sample Data: Python 3.2
Expected Output:
Letters 6
Digits 2

In [20]:
x='Python 3.2'
num=[]
str1=[]

for i in x:
  if i.isalpha():
    str1.append(i)
  if i.isdigit():
    num.append(i)

print(f'Letter {len(str1)} Digit {len(num)}')

Letter 6 Digit 2


 **17) Print all possible combination for a string or a word
Sample input “ABC”
Sample output
BAC
CAB
CBA
ACB
BCA
**

In [35]:
my_string='ABC'
my_lst=[]
for i in range(len(my_string)):

  for j in range(len(my_string)):
    for k in range(len(my_string)):
      if i !=j and i !=k and j !=k:
        my_lst.append(my_string[k]+my_string[j]+my_string[i])

print(my_lst)

['CBA', 'BCA', 'CAB', 'ACB', 'BAC', 'ABC']

**18) Write a Python program to check if a triangle is equilateral, isosceles or scalene. Take 3 inputs for each side


Note :
An equilateral triangle is a triangle in which all three sides are equal.
A scalene triangle is a triangle that has three unequal sides.
An isosceles triangle is a triangle with (at least) two equal sides.
**

In [36]:
x=float(input('Enter length of first side'))
y=float(input('Enter length of second side'))
z=float(input('Enter length of third side'))

def check_triangle_type(x,y,z):
  if x==y and x==z:
    print('This is equilateral triangle')
  else:
    if (x==y or x==z or y==z):
      print('This is iosceles triangle')
    else:
      print('This is Scalene triangle')

check_triangle_type(x,y,z)

Enter length of first side4
Enter length of second side3
Enter length of third side4

**19) Write a Python program to get the next day of a given date.
Expected Output:
Input a year: 2016                                                      
Input a month [1-12]: 08                                                
Input a day [1-31]: 23                                                  
The next date is [yyyy-mm-dd] 2016-8-24  
**

In [44]:
from datetime import date, timedelta

yr=int(input('Enter Year\n'))
mnth=int(input('Enter month\n'))
d=int(input('Enter day\n'))
date1 = date(yr,mnth,d)
date2 = date1 + timedelta(days=1)
print (f'The next day of date {date1} is',date2)

Enter Year2034
Enter month10
Enter day4
The next day of date 2034-10-04 is 2034-10-05